<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float:right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
</style>
<nav class="navbar navbar-expand-lg navbar-info bg-info">

    <div class="container">      
        <a class="navbar-brand text-white" href="{% url 'dashboard-index' %}">Inventory Managament System</a>
        {% if user.is_authenticated %}
        {% if user.is_authenticated and not user.is_superuser %}
        <a class="navbar-item text-white" href="{% url 'dashboard-staff-myinvoice' %}">My Invoices</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'dashboard-index' %}">Dashboard <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul> -->
            <ul class="navbar-nav ml-auto left">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'user-profile' %}">{{ user.username }}'s Profile <span
                            class="sr-only">(current)</span></a>
                </li>
                    <li class="nav-item active">
                    <!-- Trigger/Open The Modal -->
                    <a href="#" class="notification">
                        <button id="myBtn" ><img src="https://img.icons8.com/material-rounded/24/000000/appointment-reminders.png"/></button>
                        <span class="badge">{{notif_count}}</span> 
                    </a>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        {% for data in notif_data %}
                        {% if data.visible_to == user.username %}
                        <p>{{ data.notification }}</p>
                        {% endif %}
                        {% endfor %}
                        <a href="{% url 'dashboard-my-notification' %}"><button id="myBtn">View More</button></a>
                    </div>
                    

                    </div>

                    <script>
                    // Get the modal
                    var modal = document.getElementById("myModal");

                    // Get the button that opens the modal
                    var btn = document.getElementById("myBtn");

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    // When the user clicks the button, open the modal 
                    btn.onclick = function() {
                    modal.style.display = "block";
                    }

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function() {
                    modal.style.display = "none";
                    }

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                    }
                    </script>
                    
                    <!-- <a class="nav-link text-white" href="#"> <img src="https://img.icons8.com/material-rounded/24/000000/appointment-reminders.png"/> <span
                            class="sr-only">(current)</span></a> -->
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'user-logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'user-register' %}">Register <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'user-login' %}">Login</a>
                </li>
            </ul>
            {% endif %}

        </div>
    </div>
</nav>