{% extends 'partials/base.html' %}
{% block title %} Invoices Page {% endblock %}


{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
{% include 'partials/topnav.html' %}

<div class="container" style="padding-left: 200px;">
    <div class="row my-4">
        <div class="col-md-8">
            <table class="table bg-white" id="myTable">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">Invoice Id</th>
                        <th scope="col">Activity</th>
                    </tr>

                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.invoice_id }}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'dashboard-invoice-view' item.id%}">View</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'dashboard-invoice-delete' item.id%}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>


{% endif %}
{% endblock %}