{% extends 'partials/base.html' %}
{% block title %} Staff Page {% endblock %}

{% block content %}
{% include 'partials/topnav.html' %}

<!--Table-->
<div class="container" style="padding-left:225px">
    <div class="row my-4">
        <div class="col" style="width: 750px;">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">Action</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">View Order Details</th>
                    </tr>
                </thead>
                <tbody>                   
                    {% for worker in workers %}
                    <tr>
                        <th scope="row"><a class="btn btn-info btn-sm" href="{% url 'dashboard-staff-detail' worker.id %}">View Profile</a></th>
                        <td>{{ worker.username }}</td>
                        <td>{{ worker.email }}</td>
                        <td>{{ worker.profile.phone }}</td>
                        <td scope="row"><a class="btn btn-info btn-sm" href="{% url 'dashboard-order-detail-by-staff' worker.id %}">View Order</a></td>
                    </tr>
                    {% endfor %}
                   
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock %}
